<html>
<head>
    <title></title>
    <script src="/ueditor/ueditor.config.js"></script>
    <script src="/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>

</head>
<body>
<script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
<script>
    var ue = UE.getEditor('editor');
</script>
</body>
</html>